
  
  .custom-navbar {
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  }
  
  .custom-form {
    margin: 0 auto;
    max-width: 500px;
  }
  
  .form-field {
    padding: 10px;
    border-radius: 15px;
  }
  
  .custom-btn {
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    border-radius: 15px;
    color: #fff;
  }
  
  .custom-card {
    border-radius: 15px;
  }
  
  .card-title {
    color: #333;
  }
  